# Основные
Flask==2.3.2
python-dotenv==1.0.0

# Telegram
telethon==1.38.0

# Supabase (обновленная версия)
supabase==2.18.0
postgrest-py==0.12.0  # Обновлено для совместимости

# Для PDF
reportlab==4.0.4
Pillow==9.5.0

# Дополнительно
requests==2.31.0
pycryptodome==3.18.0
pytz==2023.3.post1