# Основные
Flask==3.0.3
python-dotenv==1.0.0

# Telegram
telethon==1.38.0

# Для работы с Supabase через REST API (без конфликтов)
requests==2.32.3

# Для PDF
reportlab==4.2.2
Pillow==10.4.0

# Дополнительно
pycryptodome==3.20.0
pytz==2024.2

